body {
    background-color: linen;
}

.title {
    text-align: center;
    font-family: "Brush Script MT", "Garamond", serif;
    color: darksalmon;
}

p {
    text-align: center;
    list-style-position: inside;
    font-family: "Helvetica", "Verdana", sans-serif;
}

.description  {
    font-size: 14px;
    color: peru;
}

.image {
    border: 6px groove darksalmon;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    width: 25%;
}